.modal-open,.overflow-noscroll{overflow:hidden;padding-right:0}.col-check{width:6rem}.modalTable.svelte-15nc4mp{height:60vh}.guestBtn{width:5rem}.score{width:100%}.box.svelte-1n46o8q{width:20rem;margin:15vh auto}
