/* 976 720 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(236, 244, 251);
}

a {
    text-decoration: none;
}

body {
    /* background-color: rgb(23, 24, 25); */
    background-color: #0d1117;
}

/********************/
/****** common ******/
/********************/
#wrapper {
    width: 100vw;
    height: 100vh;
}


/**********************/
/****** side bar ******/
/**********************/

/***** head-bar *****/
#head-bar {
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    height: 3.5rem;

    @media (max-width: 1000px) {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

    }
}

#head-bar>.img {
    position: absolute;
    left: 0;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.5rem;
    border-radius: 50%;
    object-fit: cover;
}

#head-bar>.title {
    position: absolute;
    align-items: center;
    font-size: large;
}

/***** side-bar *****/

#side-bar {
    position: fixed;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    width: 16rem;
    height: 100%;
    background-color: rgb(31, 31, 34);

    transition: width 0.3s ease;

    @media (max-width: 1000px) {
        width: 100%;

        display: none;
    }
}

#side-bar:hover {
    @media (min-width: 1000px) {
        width: 20rem;
    }
}

#side-bar>hr {
    border: 1px solid #4f4f4f;
    margin: 0 1rem;
}

#side-bar>.close {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    top: 1rem;
    left: 1rem;
    display: none;

    @media (max-width: 1000px) {
        display: block;
    }

}

#side-bar>.profile {
    display: flex;
    width: 100%;

    padding: 2rem 2rem 1rem 2rem;

    flex-direction: column;
    align-items: center;

}

#side-bar>.profile>.img {
    width: 8rem;
    height: 8rem;
    margin-bottom: 1rem;
    background-color: gray;
    border-radius: 50%;
    object-fit: cover;
}

#side-bar>.home {
    text-align: center;
    margin: 1rem 0;
}

#side-bar>.home>a:hover {
    color: rgb(76, 193, 237) !important;
}

#side-bar>.category {
    text-align: center;
    margin: 1rem 0;
    cursor: pointer;
}

#side-bar>.category:hover {
    color: rgb(76, 193, 237) !important;
}


#side-bar>.navi {
    overflow: scroll;
    margin-bottom: 2rem;
}

#side-bar>.navi ul {
    margin-left: 1rem;
    margin-right: 0.5rem;
}

#side-bar>.navi ul>li {
    font-weight: bold;
}

#side-bar>.navi li {
    cursor: pointer;
    list-style: none;
    margin-bottom: 1rem;
}

#side-bar>.navi li:hover {
    color: rgb(112, 202, 234) !important;
}

#side-bar>.navi a>li {
    color: rgb(189, 197, 203);
}

#side-bar>.link {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
}

#side-bar>.copyright {
    position: absolute;
    bottom: 0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    color: rgb(236, 244, 251);
}

#side-bar>.copyright>.img {
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 0.2rem
}

#side-bar>.copyright>a {
    cursor: pointer;
}

#side-bar>.copyright>a:hover {
    color: rgb(112, 202, 234) !important;
}

/********************/
/***** contents *****/
/********************/
#contents {
    margin-left: 16rem;
    height: 100%;
    /* padding: 2rem auto; */

    @media (max-width: 1000px) {
        margin-left: 0;
        padding-top: 2.5rem;
    }
}

#contents>.bookmark {
    padding: 0.5rem;
    margin: 1rem;
    position: fixed;
    right: 0;

    @media (max-width: 1100px) {
        display: none;
    }
}

#contents>.bookmark>.title {
    display: flex;
    justify-content: flex-end;

    font-size: 0.8rem;

    margin: 0.8rem 0;
}

#contents>.bookmark>.title>div {
    padding: 0.2rem 0.5rem;
    border: 0.5px solid #4f4f4f;
    border-radius: 0.3rem;

    /* background-color: rgba(47, 53, 63, 0.5); */

    background-color: rgb(13, 17, 23);

    height: 1.2rem;

    transform-origin: 0 100% 0;
    transform: rotateX(90deg);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;

    cursor: pointer;

    box-shadow: -0.3rem 0.4rem 0.3rem black;
}

#contents>.bookmark>.title>div:hover {
    background-color: rgb(51, 55, 61);
}

#contents>.bookmark>.title>p {
    padding: 0.2rem 0rem 0.2rem 0.2rem;
    height: 1.2rem;
}

#contents>.bookmark:hover>.title>div {
    transform: rotateX(0deg);
    opacity: 1
}

#contents>.post {
    margin: 1rem;
    position: fixed;
    width: 3rem;
    height: 3rem;

    top: 49%;
    border-radius: 50%;
    opacity: 0.5;

    @media (max-width: 1100px) {
        display: none;
    }

}

#contents>.post:hover {
    opacity: 1;
}

#contents>.post.next {
    right: 0;
}

/* #contents>.post.prev {} */

#contents>.post>img {
    padding: 0.5rem;
    width: 100%;
    height: 100%
}

#contents>.main {
    margin: 0 auto;
    padding: 2rem 0;
    overflow: scroll;
    max-width: 45rem;

    @media (max-width: 1000px) {
        margin: 0 2rem;
        /* margin-top: 3.5rem; */
        width: auto;

    }
}

#contents>.utterances {
    height: 100%;
}

/***************************/
/***** custom markdown *****/
/***************************/

/* p:has(img) {
    display: flex;
    justify-content: center;
} */